div.body{
    display: flex;
    justify-content: space-around;
}
div.body button{
    transition: 0.5s;
}
div.body button:hover{
    background-color: gray;
}

/* Aba Esquerda */
div.left{
    text-align: left;
    max-width: 200px;
    padding: 200px 10px;
}

/* Seções */
section.middle, section.right{
    min-width: 30%;
    border-left: 1px solid gray;
    padding: 50px;

    height:560px;
    overflow:scroll;
    overflow-x:hidden;
}
section.middle li, section.right li{
    list-style-type: none;
}

/* Lista de Estabelecimentos */
section.middle li ul{
    padding: 5px;
    border: 1px solid black;
}
section.middle button#mostrarAdd{
    display: grid;
}
section.middle form#form-add{
    display: none;
}

/* Dados de Estabelecimentos */
section.right li ul{
    padding: 0px;
}
section.right form#form-edit{
    display: none;/*---> Esse muda de 'none' para 'grid', e vice-versa*/
    grid-template-columns: 250px;
}
section.right form#form-edit input, section.right form#form-edit button{
    margin-bottom: 10px;
}