div.home{
    justify-content: center;
    text-align: center;
    padding-top: 210px;
    padding-bottom: 210px;
}

div.home div.search{
    display: flex;
    justify-content: center;
    text-align: center;
}
div.home div.search Input{
    max-width: 300px;
}
div.home div.search Input, div.home div.search Button{
    margin-right: 5px;
}