div.perfil{
    justify-content: center;
    text-align: center;
    padding-top: 160px;
    padding-bottom: 160px;
}
div.perfil button.btn-logout{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 6px;
    transition: 0.5s;
}
div.perfil button.btn-logout:hover{
    background-color: gray;
}