div.body{
    display: flex;
    justify-content: space-around;
}

/* Seções */
section.left, section.right{
    min-width: 50%;
    border-left: 1px solid gray;
    padding: 50px;

    height:560px;
    overflow:scroll;
    overflow-x:hidden;
}

section.left div.search{
    display: flex;
}
section.left div.search Input{
    max-width: 300px;
}
section.left div.search Input, section.left div.search Button{
    margin-right: 5px;
}

section.left li ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border: 1px solid black;
    transition: 0.5s;
}
section.left li ul:hover{
    background-color: #adf;
}
section.left li ul p{
    margin: 0;
}

section.left li, section.right li{
    list-style-type: none;
}
section.right li ul{
    padding: 0px;
}